.m-search-bar{
    margin-bottom: 10px;
    .ant-input-wrapper{
        float:left;
        width: 320px;
        margin-right: 10px;
    }
}
.button-get-organization{
    margin: -10px 0 10px 20px;
}