@import '../../style/variable.less';
@import '../../style/iconfont.less';

.button-group{
    .icon, .anticon{
        font-size: @font-size-lg;
        line-height: @font-size-md;
        margin-right: 5px;
        vertical-align: middle;
        position:relative;
        top:-1px;
    }
}