@import '../../style/variable.less';

.list-news-tips{
    border-bottom:1px solid @base-color;
    padding:20px 0;
    .title{
        display: block;
        text-align: right;
        padding-right: 10px;
        line-height: 36px;
    }
    li{
        float: left;
        margin-right: 20px;
        a{
            border:1px solid transparent;
            line-height: 20px;
            padding:8px 15px;
            color:@text-color;
            display: block;
            border-color: @base-color;
            border-radius:3px;
        }
        .ant-badge{
            top:-2px;
        }
        .name{
            margin-right: 5px;
        }
    }
}