@import '../../style/variable.less';

.list-news-tips{
    border-bottom:1px solid @base-color;
    padding:20px 0;
    .title{
        color: @text-color;
        text-align: right;
        padding-right: 10px;
        line-height: 36px;
    }
    .val{
        display: inline-block;
        border:1px solid transparent;
        line-height: 20px;
        padding:8px 15px;
        color:@text-color;
        border-color: @base-color;
        border-radius:3px;
    }
}