/**************************** 头部****************************/
.m-header{
  padding:5px 15px;
  border-bottom:1px solid #e15905;
}
.m-header-menu {
    li {
      float: left;
      line-height: 44px;  
      padding:0 10px;
      margin-right: 10px;
      i{
        font-size: 20px;
        vertical-align: middle;
        margin-right:5px;
      }
      &:hover{
        cursor: pointer;
        color:#f50;
      }
    }
}
.m-menu-toggle{
  cursor: pointer;
  height: 44px;
  border:0 none;
  background-color: #fff;
  padding:10px;
}
.u-arrow{
  transition: all 0.3s ease-in;
   &.u-arrow-right{
     transform:rotate(180deg);  
   }
}

.m-title{
    border-bottom:1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px 0;
        
    h2{
        float:left;
        margin-right: 10px;
        line-height: 20px;
        font-size: 14px;
    }
  
}