@media print {
    .print-hidden{
        display: none;
    }
}

/**************************** 打印责任牌 ****************************/
#printDutySign{ 
    border: 1px solid #ddd;
    padding: 0 20px;

    .print-title {
        padding: 10px 0;
        text-align: center;
    }

    table {
        width: 100%;
        border: 1px solid #ddd;
        border-collapse: collapse;

        tr {
            td {
                border: 1px solid #ddd;
                padding: 8px 0;
                padding-left: 5px;
                width: 50%;
            }
        }
    }

    .print-footer{
        text-align: center;
        padding: 10px 0;
        position: relative;

        .footer-right {
            position: absolute;
            right: 0;
        }
    }
}

/**************************** 打印处置单 ****************************/
#printHandleForm {
    border: 1px solid #ddd;
    padding: 0 20px 20px 20px;

    .print-title {
        padding: 10px 0;
        text-align: center;
    }
}