@import './variable.less';

/**************************** 组件样式 ****************************/
.popover-theme-primary{
  .ant-popover-inner{
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow:0 0 0 none;
    color:#fff;
  }
  .ant-popover-placement-top .ant-popover-arrow:after{
    border-top-color:rgba(0, 0, 0, 0.8);
  }
}
.ant-modal-header{
  background-color: @base-color !important;
  color:#fff !important;
}
.ant-modal-close{
  color:#fff !important;
}
