/**************************** 变量 ****************************/
// 字体颜色
@text-color: #333;
@base-color: #f50;
@white:#fff;
@white-light:#f6f6f6;
@green:green;
@red:red;
@red-light: rgba(255, 212, 200, 0.8);
@yellow:yellow;
@yellow-light: rgba(255,232,188, 0.8);
@gray:#666;
@gray-light:#999;
@gray-bg:#fafafa;
@border-color:#ddd;

// 字体大小
@font-size-lger: 20px;
@font-size-lg:16px;
@font-size-md:14px;
@font-size-sm:12px;
@font-size-xs:10px;
