.m-work-flow{
    padding-bottom: 20px;
    .ant-col{
        padding:0 10px;
        position:relative;
        padding-left:50px;
        &:last-child{
            .u-line{
                display: none;
            }
        }
    }   
    .u-icon{
        position: absolute;
        top:0;
        left:10px;
        width:30px;
        i{
            font-size: 22px;
        }
    }
    .flow-content{
        position: relative;
        h3{
            font-size: 16px;
            margin-bottom: 8px;
        }
        p{
            padding: 5px 0;
            span{
                margin:0 5px;
            }
        }
        .u-line{
            position: absolute;
            top:50%;
            right:20%;
            height:1px;
            line-height: 0;
        }
    }
}