.m-aside{     
    .m-logo{
        padding:20px 10px;
        cursor: point;
        .logo-img{
            transition: all 1s ease-in; 
        }
        &:hover{
            .logo-img{
                transform: rotate(360deg)
            }
        }
    }
    .logo-txt{
        padding-left:10px;
    }
}